

{% block body %}
<div class="modal fade " id="myModal_pro">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Projekte</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                <div class="row">
                  {% for projekte in pro %}
                    <div class="col-sm-4">
                        <div class="card h-100" >
                                <img src="images/prg/{{ projekte.image }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{projekte.name}}</h5>
                                    <p class="card-text">{{projekte.beschreibung | raw}}</p>
                                    <a href="{{ projekte.link }}" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                   
                  {% endfor %} 
                </div>
                </div>
            

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>
{% endblock %}
